// Vars & mixins
@mixin clear-float{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

* {
  -webkit-tap-highlight-color: transparent;

}

// Prototype css
body {
  -webkit-font-smoothing: antialiased;
  @include Scala;
  background: $virginia;

  p {
    color: $kafka;
  }
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  color: $link;
}

ul, li {
  margin: 0;
  padding:0;
  list-style-type: none;
}

header {
  width: 100%;
  position: relative;
}

.blue-bar {
  background: $orwell;
  height: 48px;
  width: 100%;
  @include clear-float;

  .logo {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    max-width: 126px;
    width: 103px;
    height: auto;

    &.hidden {
      display: none;
    }
  }

  .toolbar-icons {
    width: 100%;
    z-index: 999;
    position: absolute;
    right:0;


    &.hidden {
      display: none;
    }

    ul {
      font-size: 0;

      li {
        list-style-type: none;
        float: right;

        a {
          width:48px;
          height:48px;
          display: inline-block;
          opacity: 0.5;
          border-left: 1px solid rgba(255,255,255,0.3);
          position: absolute;
          -webkit-transition:   all 0.4s ease-in-out;
          -moz-transition:      all 0.4s ease-in-out;
          -o-transition:        all 0.4s ease-in-out;
          transition:           all 0.4s ease-in-out;

          &.search {
            background:transparent url('../images/search4.svg') no-repeat 50% 50%;
            background-size: 45%;
            right: 0%;
            margin-right:48px;
          }

          &.hamburger {
            background:transparent url('../images/hamburger1.svg') no-repeat 50% 50%;
            background-size: 60%;
            right: 0%;
          }

          &:active {
            background-color: rgba(255,255,255,0.2);
          }
        }
      }
    }
  }

  input[type="search"]:invalid + input[type="reset"]{
    display: none;
  }

  input[type="reset"] {
    background-image: url('../images/close.svg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 28px;
    width:  28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
  }

  li .search-form {
    @include clear-float;
  }

  .search-form {
    padding: 10px;
    box-sizing: border-box;
    @include clear-float;
    margin-left: 48px;

    input[type="search"] {
      -webkit-appearance:none;
      color: #fff;
      background: transparent;
      border: none;
      outline: none;
      padding: 5px 0;
      font-size: 16px;
      width:70%;
      z-index: 888;

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;   /* remove the default WebKit styling */
      }

      ::-webkit-input-placeholder {
        color: rgba(255,255,255,0.5);
      }
    }

    .reset {
      float: right;
    }

    .cancel {
      // padding:5px 10px;
      // border-radius:3px;
      // color:#fff;
      // text-decoration: none;
      // background: rgba(255,255,255,0.3);
      // float: right;
      // @include ScalaSansSC;
      // font-size:15px;
      // z-index: 999;
      // position: relative;

      background-image: url('../images/close.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size:85%;
      // margin-right:10px;
      height: 28px;
      width:  28px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      display: block;
      float: right;
      opacity: 0.5;
    }

    &.hidden {
      display: none;
    }
  }
}


.dropdown {
  display: none;
  padding:0 10px;
  box-sizing:border-box;
  position: absolute;
  width: 100%;
  top: 46px;

  &.visible {
    display: block;
  }

  ul {
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    position: relative;
    background: #fff;

    &:after {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      right:8px;
      border-width: 6px;
      margin-left: -6px;
    }

    li {
      width: 100%;

      &:active {
        background-color: #F5FAF9;
      }

      &:first-child {
        a {
          border: none;
        }
      }

      a {
        text-decoration: none;
        border-top:1px solid $gray90;
        display: block;
        color: #000;
        padding:15px 10px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.first {
          border-top:none;
        }
      }
    }
  }
}


.logged-out {
  .dropdown {
    li {
      text-align: center;
      color:$gray60;
      padding:15px 20px;
      border-top:1px solid $gray90;
      box-sizing:border-box;
      display: block;
      line-height: 1.5;

      &:first-child {
        border-top: none;
        color:$gray30;
        // background-color: #F5FAF9;
      }

      &:active {
        background-color: transparent;
      }

      a {
        display: inline;
        padding:0;
        color:$gray30;
        border-top: none;
        -webkit-tap-highlight-color: default;

        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}



.content {
  padding:90px 10px 0;
  text-align: center;

  h1 {
    @include Scala;
    font-size: 40px;
    line-height: 60px;
    color: rgba(0,0,0,0.2);
    text-align: center;
    font-style: italic;
    line-height: 1.2;
  }
}
