// Vars & mixins
@mixin clear-float{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Prototype css
body {
  -webkit-font-smoothing: antialiased;
  @include Scala;
  background: $virginia;

  p {
    color: $kafka;
  }
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  color: $link;
}

ul, li {
  margin: 0;
  padding:0;
  list-style-type: none;
}

header {
  position: fixed;
  width: 100%;
}

.blue-bar {
  background: $orwell;
  height: 48px;
  width: 100%;
  @include clear-float;

  .logo {
    padding-top: 9px;
    padding-left:7px;
    float: left;
    box-sizing:border-box;
    max-width:126px;
    width: 119px;
    height: auto;

    &.hidden {
      display: none;
    }
  }

  .toolbar-icons {
    float: right;
    z-index: 999;

    &.hidden {
      display: none;
    }

    ul {
      font-size: 0;

      li {
        list-style-type: none;
        display: inline;

        a {
          width:48px;
          height:48px;
          display: inline-block;
          opacity: 0.5;
          border-left: 1px solid rgba(255,255,255,0.3);


          &.search {
            background:transparent url('../images/search4.svg') no-repeat 50% 50%;
            background-size: 45%;
          }

          &.hamburger {
            background:transparent url('../images/hamburger1.svg') no-repeat 50% 50%;
            background-size: 60%;
          }
        }
      }
    }
  }

  input[type="search"]:invalid + input[type="reset"]{
    display: none;
  }

  input[type="reset"] {
    background-image: url('../images/close.svg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 28px;
    width:  28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
  }

  .search-form {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    @include clear-float;

    input[type="search"] {
      -webkit-appearance:none;
      color: #fff;
      background: transparent;
      border: none;
      outline: none;
      padding: 5px 0;
      font-size: 16px;
      width:70%;
      position: fixed;
      z-index: 888;

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;   /* remove the default WebKit styling */
      }
    }

    .reset {
      float: right;
    }

    .cancel {
      // padding:5px 10px;
      // border-radius:3px;
      // color:#fff;
      // text-decoration: none;
      // background: rgba(255,255,255,0.3);
      // float: right;
      // @include ScalaSansSC;
      // font-size:15px;
      // z-index: 999;
      // position: relative;

      background-image: url('../images/close.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size:85%;
      // margin-right:10px;
      height: 28px;
      width:  28px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      display: block;
      float: right;
      opacity: 0.5;
    }

    &.hidden {
      display: none;
    }
  }
}

.dropdown {
  display: none;
  padding:0 10px;
  box-sizing:border-box;
  position: relative;
  top: -3px;

  &.visible {
    display: block;
  }

  ul {
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    position: relative;
    background: #fff;

    &:after {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      right:8px;
      border-width: 6px;
      margin-left: -6px;
    }

    li {
      width: 100%;

      &:first-child {
        a {
          border: none;
        }
      }

      a {
        text-decoration: none;
        border-top:1px solid $gray90;
        display: block;
        color: #000;
        padding:15px 10px;

        &.first {
          border-top:none;
        }
      }
    }
  }
}

.content {
  padding:90px 10px 0;
  text-align: center;

  h1 {
    @include Scala;
    font-size: 40px;
    line-height: 60px;
    color: rgba(0,0,0,0.2);
    text-align: center;
    font-style: italic;
    line-height: 1.2;
  }
}
