---
title: Mobile Nav Prototype - Logged in
---

<header>
  <div class="blue-bar1">
    <img class="logo" src="images/logo.svg">
  </div>

  <div class="blue-bar2">
    <form action="" class="search-form hidden">
      <label class="search" for="search-field"></label>
      <input class="search-field" id="search-field" type="search" required="required" autofocus placeholder="Search for books" />
      <input type="reset" value="" alt="clear" />
    </form>
  </div>

  <a class="hamburger" href="#_"></a>

</header>

<nav class="dropdown">
  <ul>
    <li><a href="#_">Explore</a></li>
    <li><a href="#_">My Profile</a></li>
    <li><a href="#_">Notifications</a></li>
    <li><a href="#_">Library</a></li>
    <li><a href="#_">Find friends</a></li>
    <li><a href="#_">Settings</a></li>
    <li><a href="#_">Sign out</a></li>
  </ul>
</nav>

<div class="content">
  <h1>Logged in</h1>
  <%= partial "protonav" %>
</div>

