---
title: Mobile Nav Prototype - Logged in
---

<header>
  <div class="blue-bar">
    <div class="logo">
      <img src="images/logo.svg">
    </div>
    <nav class="toolbar-icons">
      <ul>
        <li><a class="search" href="#"></a></li>
        <li><a class="hamburger" href="#"></a></li>
      </ul>
    </nav>
  </div>

  <nav class="dropdown">
    <ul>
      <li><a href="#">Explore</a></li>
      <li><a href="#">My Profile</a></li>
      <li><a href="#">Notifications</a></li>
      <li><a href="#">Library</a></li>
      <li><a href="#">Find friends</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Sign out</a></li>
    </ul>
  </nav>
</header>

<div class="content">
  <h1>Logged in</h1>
  <%= partial "protonav" %>
</div>
