---
title: Mobile Nav Prototype - Logged in
---

<header>
  <div class="blue-bar1">
    <img class="logo" src="images/logo.svg">
  </div>

  <div class="blue-bar2">
    <form action="" class="search-form hidden">
      <a class="back" href="#"></a>
      <a class="search" href="#"></a>
      <input class="search-field" type="search" required="required" placeholder="Search for books" />
      <input type="reset" value="" alt="clear" />
    </form>
  </div>

  <a class="hamburger" href="#"></a>

</header>

<nav class="dropdown">
  <ul>
    <li><a href="#">Explore</a></li>
    <li><a href="#">My Profile</a></li>
    <li><a href="#">Notifications</a></li>
    <li><a href="#">Library</a></li>
    <li><a href="#">Find friends</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Sign out</a></li>
  </ul>
</nav>

<div class="content">
  <h1>Logged in</h1>
  <%= partial "protonav" %>
</div>

